* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-primary: font-family: "Archivo", sans-serif; 
  --h1: 800 24px/135% var(--font-primary);
  --h2: 800 16px/140% var(--font-primary);
  --h3: 800 14px/140% var(--font-primary);
  --span: 600 14px/145% var(--font-primary);
  --p: 400 14px/160% var(--font-primary),
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  --bg-color: #0F172A;
  --stroke-color: #1E293B;

  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
}